<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace= "~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="banner">
        <div class="text-center">
            <h1 class="font-weight-bold">BlogifyHub</h1>
            <p class="font-weight-bold">Start Writing Your Blog today</p>
            <a href=# th:href="@{/login}" class="btn btn-primary btn-lg" style="background-color: blanchedalmond; border: none;color: black;">Get Started</a>
        </div>
    </section>
</body>
</html>